h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  /* px signifie "pixels". La taille de police de base est maintenant de 10
     pixels de haut */
  font-size: 10px;
  /* Remplacez EMPLACEMENT par la valeur de la propriété font-family obtenue
     depuis Google Fonts */
  font-family: "Google Sans", sans-serif;
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.fini {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}